

<div class="row">
	<h4>Que souhaitez-vous chercher ?</h4>

	<form class="form-inline" ng-submit="searchText()">
		<div class="form-group">
			<input type="text" ng-model="search" class="form-group"></input>
			<button type="submit" class="btn btn-default">Rechercher</button>
		</div>
		
	</form>
	
	<ul class="list-group" id="search-results">
		<li class="list-group-item" ng-repeat="result in results">
		<a ng-href="{{result.url}}" ng-mouseover="showScreenshot(3)">{{result.url}}</a>
		</li>
	</ul>

<div class="container" style="text-align: center;">
    <hr/>
    <div class="container">
        <button onclick="bookmarklet();">Test</button>
        <a href="javascript:(function () { var url = 'http://localhost:8080/api/index'; if (window.myBookmarklet === undefined) { var done = false; var script = document.createElement('script'); script.src = 'http://localhost:8080/js/myLib.js'; script.onload = script.onreadystatechange = function () { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { done = true; myBookmarklet(); } }; document.getElementsByTagName('head')[0].appendChild(script); } else { myBookmarklet(); }})();">Drag
            this link to favotites</a>
    </div>
    <div class="footer">
        <h5>
            by <img class="zenika-logo"
                    src="images/LogoZenika-H-(Quadri).png" style="padding-left:8px;"/>
        </h5>
    </div>
</div>

</div>


